body {
  background-color: lightgoldenrodyellow;
}
div {
  background-color: purple;
  padding: inherit;
  display: inherit;
  position: relative;
}
h3 {
  padding: 10%;
  font-size: 12px;
  font-family: 'Times New Roman', Times, serif;
  font-style: inherit;
}
